@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* First Page */

#welcomePage {
    height: 100vh;
    width: 100%;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#welcomePage > h1 {
    color: #e6e6e6;
    margin: 0 20px;
    text-shadow: 0 0 3px black;
    text-align: center;
    max-width: 600px;
    line-height: 45px;
}

#welcomePage > h1 > span:nth-child(1) {
    color: #ffff6d;
}

#welcomePage > h1 > span:nth-child(2) {
    color: #ffff6d;
}

#sunIcon {
    font-size: 40px;
    margin-bottom: 20px;
}

#sunIcon > i {
    margin-top: 0;
    color: #ffff6d;
}

#scrollDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 4px;
    background-color: #ffff6d;
    animation: scrollDown 1s infinite alternate;
}

@keyframes scrollDown {
    from {
        height: 50px;
    }
    to {
        height: 30px;
    }
}

/* Input Page */

#inputPage {
    background-color: #292929;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inputPage > h2 {
    color: white;
    text-align: center;
    margin: 0 20px 30px 20px;
}

#inputPage > h2 > span {
    color: #ffff6d;
}

#form {
    position: relative;
    max-width: 250px;
}

#searchIcon {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 47%;
    transform: translateY(-47%);
}

#searchIcon > i {
    margin-top: 0;
    color: #696969;
}

#title {
    padding: 15px 20px;
    min-width: 250px;
    outline: none;
    border: 0;
    border-radius: 5px;
}

/* Presentation Page */

#information {
    background-color: #303030;
    text-align: center;
}

#information > p {
    margin: 0;
}

#saveWeather {
    font-size: 30px;
    display: none;
    color: white;
}

i {
    margin-top: 30px;
    cursor: pointer;
    color: #dbdbdb;
}